.membership__section {
    margin: 9rem 10px 0;
}

.membership__intro {
    margin-top: 4rem;
}

.membership__intro p {
    font-size: 1.3rem;
    max-width: 50rem;
}

.membership__item {
    border: 2px solid var(--clr-primary-5);
    width: 15rem;
    height: 15rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    border-radius: 5%;
    padding: 1rem;
}

.memberhip__info {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    justify-content: center;
    align-items: center;
}

@media screen and (min-width: 500px) {
    .memberhip__info {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
}

@media screen and (min-width: 768px) {
    .memberhip__info {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
    }
}

@media screen and (min-width: 992px) { 
    .memberhip__info {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
    }
}